* text=auto !eol
/CoinHslConfig.h.in -text
/INSTALL.HSL -text
/LICENSE -text
/Makefile.am -text
/ar-lib -text
/coinhsl.pc.in -text
/compile -text
/config.guess -text
/config.h.in -text
/config.sub -text
/config_coinhsl_default.h -text
/configure -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
