* text=auto !eol
/INSTALL.HSL -text
/Makefile.am -text
/coinhsl-uninstalled.pc.in -text
/coinhsl.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
