* text=auto !eol
/INSTALL.HSL -text
/Makefile.am -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
/hsl-uninstalled.pc.in -text
/hsl.pc.in -text
/hsl_addlibs.txt.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
